body {
    margin-left: 0.92%;
    margin-right: 0.92%;
    width: 98%;
    }
header{
    background-color: #FFA100;
    padding: 1%;
}
main{
    margin:1%;
}
#footer1{
    bottom: 0;
    background-color:#FFA100 !important;
    padding: 0.2%;
    margin-top: 1%;
    position: initial;
    text-align:center;
}
#postarea {
    margin-bottom: 10px;
}
btn btn-primary{
    background-color:forestgreen;
    
}
span{
    color:red;
}